<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:bean="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    创建数据表-->
    <!--    CREATE TABLE student_tbl(-->
    <!--    student_id INT NOT NULL AUTO_INCREMENT,-->
    <!--    student_name VARCHAR(20) NOT NULL,-->
    <!--    student_age INT NOT NULL,-->
    <!--    PRIMARY KEY (student_id)-->
    <!--    );-->


    <!-- 扫描包使studentDaoImpl类的注解生效 -->
    <bean:component-scan base-package="com.lcc.Transaction"/>
    <!-- 配置数据源 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <!-- MySQL驱动 -->
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://YourIP:3306/DatabaseName"/>
        <!-- 明轩的云服MySQL用户名为dataer -->
        <property name="username" value="userName"/>
        <property name="password" value="password"/>
    </bean>
    <!--  配置JDBC模板 -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>