<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mybatis映射文件 -->
<mapper namespace="com.lcc.dao.StudentDao">
    <!--查询数据表-->
    <select id="queryAll" resultType="com.lcc.po.Student">
        SELECT * FROM student_tbl
    </select>

    <!-- 查询单个用户 -->
    <select id="queryOne" parameterType="Integer" resultType="com.lcc.po.Student">
        SELECT * FROM student_tbl WHERE student_id = #{student_id}
    </select>

    <!-- 添加用户 -->
    <insert id="addUser" parameterType="com.lcc.po.Student">
        INSERT INTO student_tbl (student_name,student_age) VALUES (#{student_name},#{student_age})
    </insert>

    <!-- 修改用户信息 -->
    <update id="modify" parameterType="com.lcc.po.Student">
        UPDATE student_tbl SET student_age = #{student_age} WHERE student_name = #{student_name}
    </update>

    <!-- 删除用户 -->
    <delete id="deleteUser" parameterType="Integer">
        DELETE FROM student_tbl WHERE student_id > #{student_id}
    </delete>


</mapper>